body {
  background-color: rgba(240, 255, 255); /* cor de fundo da página */
  color: #A0522D
  fonte-family: Tahoma;
  font-size: 12px;
  }

@import url('https/fonts.googleapis.com/css2?family=Special+Elite&display=swap');
*{
margin: 0 auto;
padding: 0;
}

.typing {
font-family: 'Special Elite', coursive;
font-size: 2em;
padding: 1em;
}

h1, h2, h3{
text-align: center;
color: #0000FF
}

p {
font-size: 4;
text-align: center;
color: #0000FF
}
